@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@400;500;700&display=swap");
.body {
  background-color: rgb(22, 23, 100);
}

i {
  color: #fff;
  font-size: 20px;
}

nav {
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}

.color1 {
  color: #9390ff;
}

hr {
  padding: 1px;
}

section.home {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

section.home div h1 {
  font-size: 48px;
}

section.home div h2 {
  font-size: 32px;
  color: #edecff;
}

ul {
  list-style: none;
}

section.home h3 {
  font-size: 12px;
}

section.home ul li {
  line-height: 24px;
  font-size: 15px;
}

section#about {
  font-family: "Roboto", sans-serif;
}

section#about h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
}

section#about h3 {
  font-size: 32px;
  font-weight: 500;
}

section#about ul li {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

section#about ul li a {
    text-decoration: none;
    color: #fff;
  }

@media screen and (min-width: 768px) {
  section.home div h1 {
    font-size: 90px;
    line-height: 105px;
  }

  section.home div h2 {
    font-size: 40px;
  }

  section.home h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  section#about h2 {
    font-size: 64px;
    line-height: 114px;
    font-weight: 700;
    text-transform: capitalize;
  }

  section#about h3 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
  }

  
  section#contact {
    padding: 0 130px;
    width: 684px;
  }
}
